.logo {
    font-family: 'Raleway', sans-serif;
    @include font(700, 26px);
   
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: getColor('black-color');
}

.logo-header {
    color: getColor('focus-text-color');
}

.logo-studio {
    color: getColor('white-color');
}